<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= planets.name %></title>
  </head>
  <body>
    <a href="/planets">View Another Planet</a>
    <a href="/">Home Page</a>
    <h1> <%= planets.name %> </h1>
  
    <% if(planets.position === 1) { %>
      <p> Is the <%=planets.position %>st planet</p>
      <% } else if(planets.position === 2) { %>
        <p>Is the <%=planets.position %>nd planet</p>
          <% } else if(planets.position === 3) { %>
            <p>Is the <%=planets.position %>rd planet</p>
    <% } else { %>
          <p>Is the <%=planets.position %>th planet</p>
    <% } %>

    <p> It is a <%=planets.matter %></p>

  </body>
</html>